@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

:root {
    --header-font: 'Poppins', sans-serif;
    --regText-font: 'Roboto', sans-serif;
    --heightNeeded: calc(100vh - 4rem)
}

.Main-screen{
    min-height: var(--heightNeeded);
}
body{
    font-family: var(--regText-font);
    color: #7C7C7C;
}
h2{
    font-family: var(--header-font);
    color: black;
}
